@mixin preloader-animation {
    animation: spin $preloader-duration linear infinite;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}


@mixin flex-position($x: center, $y: center, $direction: column) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    flex-direction: $direction;
}


@mixin absolute-position($center: false) {
    position: absolute;
    top: 0;
    left: 0;

    @if ($center) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}