@mixin preloader-animation {
    animation: spin $preloader-duration linear infinite;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}


@mixin flex-position($x: center, $y: center, $direction: column) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    flex-direction: $direction;
}


@mixin absolute-position($center: false) {
    position: absolute;
    top: 0;
    left: 0;

    @if ($center) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@mixin full-screen-mode {
    position: relative;
    width: 100vw;
    height: 100vh;
}


@mixin image-center-position {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin start-menu-image-shake($duration: .5s, $offset: 20px) {
    animation: shake $duration infinite;

    @keyframes shake {
        0% {
            transform: translate(0, 0);
        }

        33% {
            transform: translate($offset, $offset);
        }

        66% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-$offset, -$offset);
        }
    }
}


@mixin canvas-noise-animation($duration) {
    animation: transitioning $duration infinite;
    transition: $camera-transition;

    @keyframes transitioning {
        0% {
            opacity: 0.3;
        }

        20% {
            opacity: 0.6;
        }

        40% {
            opacity: 1;
        }

        60% {
            opacity: 0.6;
        }

        80% {
            opacity: 0.4;
        }

        100% {
            opacity: 0.3;
        }
    }
}


@mixin object-shaking($duration) {
    animation: shake $duration infinite;

    @keyframes shake {
        0% {
            transform: translate(calc(-50% + $object-shaking-offset), calc(-50% + $object-shaking-offset)) scale(1 + $object-scale-offset);
        }
        25% {
            transform: translate(calc(-50% - $object-shaking-offset), calc(-50% - $object-shaking-offset)) scale(1 - $object-scale-offset);
        }
        50% {
            transform: translate(calc(-50% + $object-shaking-offset), calc(-50% - $object-shaking-offset)) scale(1 + $object-scale-offset);
        }
        75% {
            transform: translate(calc(-50% - $object-shaking-offset), calc(-50% + $object-shaking-offset)) scale(1 - $object-scale-offset);
        }
        100% {
            transform: translate(calc(-50% + $object-shaking-offset), calc(-50% + $object-shaking-offset)) scale(1 + $object-scale-offset);
        }
    }
}