// Dimensions
$background-width:                  200%;

$preloader-size:                    120px;
$preloader-radius:                  50%;

$light-circle-size:                 600px;

$warning-icon-size:                 80px;
$disclaimer-width:                  800px;
$disclaimer-button-width:           100%;
$disclaimer-button-height:          50px;
$disclaimer-button-radius:          20px;
$disclaimer-button-hover-width:     900px;
$disclaimer-button-hover-height:    600px;
$disclaimer-button-hover-steep:     70deg;

$start-menu-image-width:            300px;
$start-menu-image-height:           400px;
$start-menu-image-offset-x:         130px;
$start-menu-image-offset-y:         -30px;
$start-menu-image-shake-offset:     20px;

$arrow-icon-width:                  20px;
$arrow-icon-height:                 $arrow-icon-width;

$game-icons-size:                   40px;

$camera-width:                      1100px;
$camera-height:                     700px;
$camera-frame-radius:               80px;
$camera-screen-width:               100%;
$camera-screen-height:              100%;
$camera-button-width:               160px;
$camera-button-height:              35px;
$camera-button-border-size:         5px;
$camera-screen-radius:              $camera-frame-radius / 2;
$camera-frame-border-size:          20px;
$camera-button-panel-height:        90%;

$battery-width:                     80px;
$battery-height:                    30px;
$battery-decorator-width:           5px;
$battery-decorator-height:          15px;
$battery-padding:                   5px;
$battery-decorator-offset:          -$battery-decorator-width - $battery-padding;

$camera-decoration-width:           200px;
$camera-decoration-height:          30px;
$camera-decoration-offset:          calc($camera-width - $camera-decoration-width - 10%);
$camera-decoration-border-size:     10px;
$camera-decoration-left-radius:     25px;
$camera-decoration-right-radius:    $camera-decoration-left-radius;
$camera-indicator-size:             13px;
$camera-indicator-radius:           50%;

$object-shaking-offset:             15px; 
$object-scale-offset:               0.010;

$blood-image-size:                  500px;

$puppet-box-button-width:           200px;
$puppet-box-button-height:          50px; 
$puppet-box-progress-bar-size:      $puppet-box-button-height;

$screamer-width:                    800px;
$screamer-height:                   1000px;
$screamer-shaking-offset:           75px;
$screamer-scale-offset:             0.030;

$screamer-preloading-size:          150px;

// Margins and paddings
$fps-margin:                        20px;

$warning-icon-margin:               25px;
$disclaimer-button-margin:          $warning-icon-margin;

$start-menu-padding:                200px;
$start-menu-title-margin:           120px;
$start-menu-navbar-item-margin:     20px;

$arrow-icon-margin:                 20px;

$header-padding-x:                  150px;
$header-padding-y:                  40px;
$footer-padding-x:                  $header-padding-x;
$footer-padding-y:                  $header-padding-y;
$game-footer-button-margin:         30px;

$camera-padding:                    40px;
$camera-scree-margin-left:          0px;
$camera-indicator-margin:           10px;
$screen-button-panel-margin-y:      10px;
$screen-button-panel-margin-x:      30px;
$screen-button-panel-gap:           $screen-button-panel-margin-y / 2;              

$mask-deactivated:                  scale(0.8) translateY(100%) rotateX(90deg);
$mask-activated:                    scale(1) translateY(0) rotateX(0deg);

$waiting-screamer-preload:          100%;
$waiting-screamer-waiting:          50%;      
$waiting-screamer-unload:           -100%;       

$screamer-deactivated:              $mask-deactivated; 
$screamer-activated:                $mask-activated;

$battery-info-margin-right:         40px;
$oxygen-margin:                     40px;

$time-text-margin:                  10px;
$win-time-text-margin:              40px;

$puppet-box-progress-bar-margin:    20px;

$arrow-move-size:                   20px;



// Colors
$text-color:                       #FFFFFF;
$body-background-color:            #000000;

$disclaimer-button-color:          #A50000;
$disclaimer-button-hover-color:    #ff8d8d;

$start-menu-navbar-hover-color:    #9b9b9b;
$start-menu-image-filter:          #0000009d;
$start-menu-title-color:           $disclaimer-button-color;
$start-menu-navbar-icons-color:    invert(100%) sepia(1) saturate(0) hue-rotate(0deg) brightness(60%);
$game-icon-color:                  invert(1);
$game-icon-color-hover:            $start-menu-navbar-icons-color;

$camera-background-color:         #212833;
$camera-screen-color:             #575757;
$camera-button-background:        transparent;
$camera-button-active-color:      #ffffff;
$camera-button-border-color:      darken($camera-button-background, 10);
$camera-frame-border-color:       darken($camera-background-color, 5);

$indicator-success:               linear-gradient(to bottom, #4bff4b, #00d900);
$indicator-warning:               linear-gradient(to bottom, #ffec4b, #d9b800);
$indicator-danger:                linear-gradient(to bottom, #ff4b4b, #d90000);

$battery-border-color:            #ffffff;
$battery-bg-color:                #00ff00;
$oxygen-bg-color:                 #0000ff;
$blood-shadow:                    0 0 0 5px red, inset 0 0 100px 40px rgba(255, 0, 0, 0.9);

$puppet-box-button-color:               #ffffff;
$puppet-box-progress-bar-background:    transparent;
$puppet-box-progress-bar-color:         conic-gradient($puppet-box-button-color 0deg, $puppet-box-button-color 360deg, transparent 360deg);
$puppet-box-button-shadow:              0 6px 15px rgba(0, 0, 0, 0.4);
$puppet-box-button-text-shadow:         2px 2px 4px rgba(0, 0, 0, 0.5);

$win-bg:                                #000000;

$light-circle-color:                    radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 90%);



// Font styles, sizes, familys
$fps-count-fontsize:                    12px;

$disclaimer-text-fontsize:              18px;

$start-menu-title-fontsize:             48px;
$start-menu-navbar-fontsize:            20px;
$start-menu-navbar-letter-spacing:      2px;
$start-menu-title-fontfamily:           'Nosifer', sans-serif;
$base-font-family:                      'Press Start 2P', sans-serif;
$discrlaimer-font-family:               'Roboto', sans-serif;

$game-fontsize:                         25px;
$game-fontfamily:                       'Press Start 2P', sans-serif;

$camera-button-fontsize:                16px;
$battery-info-fontsize:                 20px;

$win-text:                              70px;
$no-signal-fz:                          25px;


// Transitions
$preloader-duration:                1.5s;
$disclaimer-button-transition:      all .6s ease-in-out;

$start-menu-navbar-transition:      all .3s ease-in-out;
$start-menu-image-duration:         .2s;
$background-transition:             left .5s ease;
$camera-transition:                 top .5s ease;
$canvas-noise-duration:             5s;
$mask-transition:                   transform .5s ease-in-out, opacity .5s ease-in-out;
$object-shaking-duration:           10s;
$blood-duration:                    2s;
$screamer-duration:                 .5s;
$win-text-transition:               all 5s ease;
$peloading-screamer-transition:     all 2s ease-in-out;
$preload-screamer-body-duration:    3s;


// Border styles
$preloader-border:                  16px double transparent;
$preloader-active-border:           16px double #A50000;
$battery-border:                    2px solid $battery-border-color;
$camera-button:                     2px solid $puppet-box-button-color;
$puppet-box-button-border:          $camera-button;


// Box shadow
$indicator-box-shadow:              0 5px 15px rgba(0, 0, 0, 0.3);
$base-indicator-opacity:            .1;


// Images
$cursor:                            url('../../assets/cursor/cursor.png');

$start-menu-object1:                '../../assets/gameObjects/startMenu/object_1.png';
$start-menu-object1-active:         '../../assets/gameObjects/startMenu/object_1_active.png';
$start-menu-object2:                '../../assets/gameObjects/startMenu/object_2.png';
$start-menu-object2-active:         '../../assets/gameObjects/startMenu/object_2_active.png';
$start-menu-object3:                '../../assets/gameObjects/startMenu/object_3.png';
$start-menu-object3-active:         '../../assets/gameObjects/startMenu/object_3_active.png';

