// Dimensions
$preloader-size:                    120px;
$preloader-radius:                  50%;


// Colors
$body-background-color:            #000000;


// Transitions
// $preloader-transition:              all .5s ease-in-out;
$preloader-duration:                1.5s;


// Border styles
$preloader-border:                  16px double transparent;
$preloader-active-border:           16px double #A50000;