@import 'variables';
@import 'functions';
@import 'mixins';
@import 'resets';

@import './components/startMenu';
@import './components/game';


body {
    background-color: $body-background-color;
    color: $text-color;
    overflow: hidden;
    height: 100vh;
    cursor: $cursor, auto;

    @include flex-position($x: center, $y: center, $direction: column);
}

#preloader {
    width: $preloader-size;
    height: $preloader-size;
    border: $preloader-border;
    border-top: $preloader-active-border;
    border-right: $preloader-active-border;
    border-radius: $preloader-radius;

    @include preloader-animation;
}

.d-none {
    display: none;
}

button:hover,
button:focus {
    cursor: $cursor, auto;
}