#background-location {
    width: $background-width;
    height: 100%;
    transition: $background-transition;
    @include absolute-position;
    z-index: -2;
}


.game {
    overflow: hidden;

    @include full-screen-mode;
    @include flex-position($x: space-between, $y: center, $direction: column);

    &__header {
        width: 100%;
        padding: $header-padding-y $header-padding-x;

        @include flex-position($x: space-between, $y: center, $direction: row);


        div {
            @include flex-position($x: start, $y: center, $direction: row);
        }


        &--oxygen {
            @include capacity-block($oxygen-bg-color);
            margin-right: $oxygen-margin;
        }

        &--energy {
            @include capacity-block($battery-bg-color);
        }

        &--time {
            font-size: $game-fontsize;
            font-family: $game-fontfamily;
        }
    }

    &__footer {
        padding: $footer-padding-y $footer-padding-x;
        @include flex-position($x: center, $y: center, $direction: row);

        button {
            margin: 0 $game-footer-button-margin;

            img {
                width: $game-icons-size;
                filter: $game-icon-color;
            }


            &:hover {
                img {
                    filter: $game-icon-color-hover;
                }
            }
        }
    }
}


#mask {
    @include full-screen-mode;
    @include absolute-position(center);
    z-index: -1;

    transform: $mask-deactivated;
    transition: $mask-transition;
    opacity: 0;

    img {
        width: 105%;
        height: 105%;
        @include object-shaking($object-shaking-duration);
    }

    &.active {
        transform: $mask-activated;
        opacity: 1;
    }
}


.game__header--oxygen {
    @include capacity-block($oxygen-bg-color)
}


.blood-effect {
    @include full-screen-mode;
    @include absolute-position;

    background-color: transparent;

    img {
        @include absolute-position;
        width: $blood-image-size;
        height: $blood-image-size;

        display: none;
    }

    &.active {
        box-shadow: $blood-shadow;
        @include blood-animation($blood-duration);

        img {
            display: block;

            @include blood--image-animation($blood-duration);

            &:nth-of-type(1) {
                transform: rotate(90deg);
                top: 0;
                left: 0;
            }

            &:nth-of-type(2) {
                top: calc(100% - $blood-image-size);
                left: calc(100% - $blood-image-size);
            }
        }
    }
}