.disclaimer {
    &__block {
        position: relative;
        width: $disclaimer-width;

        @include flex-position($x: center, $y: center, $direction: row);

        img {
            width: $warning-icon-size;
            margin-right: $warning-icon-margin;
        }

        p {
            font-size: $disclaimer-text-fontsize;
            font-family: $discrlaimer-font-family !important;
        }
    }
}

#disclaimer-button {
    position: relative;
    width: $disclaimer-button-width;
    height: $disclaimer-button-height;
    font-size: $disclaimer-text-fontsize;
    background-color: $disclaimer-button-color;
    margin-top: $disclaimer-button-margin;
    border-radius: $disclaimer-button-radius;
    overflow: hidden;

    &::after {
        content: '';
        width: $disclaimer-button-hover-width;
        height: $disclaimer-button-hover-height;
        background-color: $disclaimer-button-hover-color;
        transform: rotate($disclaimer-button-hover-steep);
        transition: $disclaimer-button-transition;

        @include absolute-position;
        left: -$disclaimer-button-hover-height / 2;
    }

    &:hover::after {
        left: $disclaimer-button-hover-height / 2;
    }

    span {
        @include absolute-position(true);
        z-index: 2;
    }
}


.start {
    padding: 0 $start-menu-padding;
    @include flex-position($x: center, $y: center, $direction: column);
    @include full-screen-mode;

    &__block {
        position: relative !important;
        &:nth-child(2) {
            width: 100%;
            height: $start-menu-image-height;
            @include flex-position($x: space-between, $y: center, $direction: row);
        }

        &--title {
            font-size: $start-menu-title-fontsize;
            font-family: $start-menu-title-fontfamily;
            color: $start-menu-title-color;
            margin-bottom: $start-menu-title-margin;
        }

        &--menubar ul li {
            font-size: $start-menu-navbar-fontsize;
            font-family: $base-font-family;
            letter-spacing: $start-menu-navbar-letter-spacing;
            margin: $start-menu-navbar-item-margin 0;
            transition: $start-menu-navbar-transition;

            @include flex-position($x: center, $y: center, $direction: row);

            img {
                filter: $start-menu-navbar-icons-color;
                width: $arrow-icon-width;
                height: $arrow-icon-height;
                margin-right: $arrow-icon-margin;
                transition: $start-menu-navbar-transition;

                opacity: 0;
            }

            &:hover {
                color: $start-menu-navbar-hover-color;

                img {
                    opacity: 1;
                }
            }
        }

        &__group {
            position: absolute;
            top: 0;
            left: 0;

            &.shaking {
                @include start-menu-image-shake($start-menu-image-duration, $start-menu-image-shake-offset);
            }

            &--image {
                position: relative;
                width: $start-menu-image-width;
                height: $start-menu-image-height;

                @include absolute-position;
                @include image-center-position;

                &:nth-child(1) {
                    background-image: url($start-menu-object3);
                    left: $start-menu-image-offset-x * 2;
                    top: $start-menu-image-offset-y * 2;

                    &.active {
                        background-image: url($start-menu-object3-active);
                    }
                }

                &:nth-child(2) {
                    background-image: url($start-menu-object2);
                    left: $start-menu-image-offset-x;
                    top: $start-menu-image-offset-y;

                    &.active {
                        background-image: url($start-menu-object2-active);
                    }
                }

                &:nth-child(3) {
                    background-image: url($start-menu-object1);
                    left: 0;
                    top: 0;

                    &.active {
                        background-image: url($start-menu-object1-active);
                    }
                }
            }

            &::after {
                content: '';

                @include absolute-position;
                top: $start-menu-image-offset-y * 2;
                width: 100%;
                min-height: $start-menu-image-height - $start-menu-image-offset-y * 3;

                background-color: $start-menu-image-filter;
            }
        }
    }
}